# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# IntelliJ project files
.idea
*.iml
out
gen

# Java
## Compiled class file
*.class

## Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar